# Default ignored files
/shelf/
/workspace.xml
.idea/
target/
build/
.DS_Store
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
